{% extends 'navbar.html' %}
{% block content %}
  
  <!--container start-->  
  <div class="container mx-auto" style="margin-top: 5%;">
        
                
    <div class="card z-depth-2" style="background-color: rgb(110, 214, 197);">
        <div class="card-content white-text"> 
            <span class="card-title">DELETED</span>
                    
            <p>The note has been deleted.</p>
            <p>
                Once deleting the note, it can't be recovered
            </p>
        </div>
         <!--Goback button start-->
    <div class="card-action">
        <a href="{{ url_for('get_notes') }}" class="btn" style="background-color: teal;">GOBACK</a>
    </div>
    <!--Goback button end-->       
    </div>
    

    </div>
         
  <!--container end-->
{% endblock %}