{% extends 'navbar.html' %}
{% block content %}
  
  
  <!--container start-->  
  <div class="container mx-auto" style="margin-top: 5%;">
        
                
    <div class="card z-depth-2" style="background-color: rgb(63, 170, 152);">
        <div class="card-content white-text">
            <!--create button start-->
            <a href="{{ url_for('update',id=note.id|int) }}" style="position: relative;"><i class="material-icons" style="color: rgb(78, 77, 77);">create</i></a>
            <!--create button end-->
            <!--delete button start-->
            <a href="{{ url_for('delete',id=note.id|int) }}" style="position: relative;" ><i class="material-icons" style="color: #e48639;">delete</i></a>
            <!--delete button end-->  
            <span class="card-title"><h5>{{note.title}}</h5></span>
            <span class="card-title">{{note.creation_date}}</span>
                    
            <p>{{note.context}}</p>
        </div>
                
    </div>
    <!--Goback button start-->
    <div class="card-action">
        <a href="{{ url_for('get_notes')}}" class="btn" style="background-color: teal;">GOBACK</a>
    </div>
    <!--Goback button end-->

    </div>
         
  <!--container end-->
{% endblock %}