<!DOCTYPE html>
<head>
  <title>NOTES</title>
  <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
  <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body style="background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(159,251,232,1) 44.9%, rgba(225,181,246,1) 87.8% );">
{% block body %}
{% endblock %}
</body>