{% extends 'parent.html' %}
{% block content %}
<div class="container" style="margin-top: 8% ;">
  <div class="row">
    {% for note in context %}

    <div class="col">
    <div class="card" style="width: 18rem;">
      <!--<img class="card-img-top" src="..." alt="image">-->
      <div class="card-body">
        <h5 class="card-title">{{ note.title }}</h5>
        <p class="card-text">{{ note.context }}</p>
        <hr>
        <p class="card-text">{{ note.creation_date }}</p>
        <a href="{{ url_for('get_a_note',id=note.id|int)}}" class="btn btn-primary">READ MORE</a>
      </div>
    </div>

  </div>
    {% endfor %}
  
  </div>

</div>
{% endblock %}