{% extends 'navbar.html' %}
{% block content %}
<!--container start-->  
<div class="container mx-auto">
  
  <!--row start-->
  <div class="row">
      <div class="container" style="margin-top: 2em;" class="col s12">

      <form method="POST" >
          {% if err %}
          <div class="row alert">{{err}}</div>
          {% endif %}
          <div class="row">
              <div class="input-field col s12">
                  <input value="{{note.title}}" id="Title" name="Title" type="text">
                  <label for="Title">Title</label>
              </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input value="{{note.tags}}" id="Tag" name="Tag" type="text">
              <label for="Body">TAGS(seperated by comma)</label>
            </div>
          </div>

          <div class="row">
              <div class="input-field col s12">
                <textarea id="Body" name="Body" class="materialize-textarea">{{note.context}}</textarea>
                <label for="Body">BODY/CONTEXT</label>
              </div>
          </div>
          <div class="row">
          <input class="btn" type="submit" value="SAVE">
          </div>
      </form>
      {% if note.id %}
      <div class="row">
          <a href="{{ url_for('get_a_note',id=note.id|int) }}" class="btn">GO BACK</a>
      </div>
      {% else %}
      <div class="row">
        <a href="{{ url_for('get_notes') }}" class="btn">GO BACK</a>
      </div>
      {% endif %}

  </div>
          
      
  </div>
  <!--row end-->
  </div> 
  <!--container end-->
{% endblock  %}